.SearchPage {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.Map {
  height: 100%;
  width: 100%;
  transition: height .5s;
}

.Map.isFocused {
  height: 0;
}

.MapWrapper {
  position: absolute; 
  bottom: 165px;
  height: 100%;
  width: 100%;
}

.inputArea {
  position: absolute;
  bottom: 0;
  height: 165px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-color: white;
  transition: bottom .5s, color .5s;
}

.inputArea.isFocused {
  bottom: 75%;
  color: transparent;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
  width: 90%;
}

.SearchPage h3 {
  display: flex;
  justify-content: left;
  margin: 0;
  font-size: 30px;
  line-height: 41px;
  width: 100%;
  margin-bottom: 3px;
}

.cancelButton {
  position: absolute;
  visibility: hidden;
  z-index: 1;
  color: black;
  opacity: 0;
  bottom: 95%;
  left: 5%;
  font-size: 24px;
  transition: opacity .5s, bottom .5s, visibility .5s;
}

.cancelButton.isFocused {
  bottom: 90%;
  opacity: 100;
  visibility: visible;
}

.useCurrentLocationButton {
  position: absolute;
  visibility: hidden;
  z-index: 1;
  color: #FAB1A0;
  opacity: 0;
  top: 24%;
  right: 40%;
  font-size: 16px;
  transition: opacity .5s, right .5s, visibility .5s;
}

.useCurrentLocationButton.isFocused {
  right: 5%;
  opacity: 100;
  visibility: visible;
}

.addBathroomButton {
  background-color: #FAB1A0;
  opacity: 100%;
  position: absolute;
  height: 86px;
  width: 86px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 100px;
  left: 70vw;
  bottom: 122px;
  visibility: visible;
  transition: background-color .5s, color .5s, visibility .5s;
}

.vLine {
  position: absolute;
  left: 41px;
  right: 41px;
  top: 19px;
  bottom: 19px;
  border-radius: 2.5px;
  background-color: white;
}

.hLine {
  position: absolute;
  left: 19px;
  right: 19px;
  top: 41px;
  bottom: 41px;
  border-radius: 2.5px;
  background-color: white;
}

.addBathroomButton.isFocused {
  background-color: transparent;
  color: transparent;
  visibility: hidden;
}

.addBathroomButton:hover {
  background-color: #E19C8C; 
}
