.SearchPage {
  position: absolute;
  top: 0px;
  bottom: 86px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.Map {
  height: 100%;
  width: 100%;
}

.MapWrapper {
  position: absolute; 
  bottom: 165px;
  height: 100%;
  width: 100%;
}

.inputArea {
  position: absolute;
  bottom: 0;
  height: 165px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-color: white;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
  width: 90%;
}

h3 {
  display: flex;
  justify-content: left;
  margin: 0;
  font-size: 30px;
  line-height: 41px;
  width: 100%;
  margin-bottom: 3px;
}

.addBathroomButton {
  background-color: #FAB1A0;
  position: absolute;
  height: 86px;
  width: 86px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 100px;
  left: 70vw;
  bottom: 122px;
}

.addBathroomButton:hover {
  background-color: #E19C8C; 
}
