.SignupPage {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #FAB1A0;
  color: white;
}

.SignupPage header {
  width: 80%;
  margin-top: 5vh;
  margin-bottom: 2vh;
}

.SignupPage h1 {
  font-size: 9vw;
  line-height: 11vw;
  margin: 0;
}

.SignupPage h2 {
  margin: 0;
  font-size: 7vw;
  line-height: 9vw;
  font-weight: 100;
}