.BathroomDescriptionIndex {
  position: absolute;
  top: 6vh;
  bottom: 6vh;
  left: 4vw;
  right: 4vw;
}

.BathroomDescriptionIndex input {
  background: #FFFFFF;
  border: 1px solid #A5A5A7;
  box-sizing: border-box;
  border-radius: 9px;
  padding: 0 15px;
  width: 100%;
  margin-bottom: 1.5vh;
  font-size: 24px;
  font-weight: 600;
  line-height: 33px;
  height: 48px;
  caret-color: #FAB1A0;
}

.BathroomDescriptionIndex textarea {
  background: #FFFFFF;
  border: 1px solid #A5A5A7;
  box-sizing: border-box;
  border-radius: 9px;
  padding: 8px 15px;
  width: 100%;
  margin-bottom: 1.5vh;
  font-size: 24px;
  font-weight: 600;
  line-height: 33px;
  height: 20vh;
  caret-color: #FAB1A0;
}

.saveAndContinueBtnContainer {
  position: absolute;
  bottom: 7vh;
  right: 0;
  display: flex;
  justify-content: flex-end;
}

.saveAndContinueBtn {
  border: 1px solid #E19C8C;
  color: #E19C8C;
  border-radius: 8px;
  padding: 2px 6px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 140px;  
}

.backBtnContainer {
  position: absolute;
  bottom: 7vh;
  left: 0;
  display: flex;
  justify-content: flex-end;
}

.backBtn {
  border: 1px solid #E19C8C;
  color: #E19C8C;
  border-radius: 8px;
  padding: 2px 6px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;  
  width: 140px;
}

.dotContainer {
  position: absolute;
  bottom: 2vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.dot {
  height: 11px;
  width: 11px;
  border-radius: 50%;
  margin: 4px;
  background-color: #A5A5A7;
}

.highlight {
  background-color: #FAB1A0;
}

.finishBtn {
  position: absolute;
  bottom: 15vh;
  left: 50%;
  margin-left: -132px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 256px;
  height: 66px;
  border-radius: 36px;
  background-color: #E19C8C;
  font-size: 24px;
  line-height: 33px;
  font-weight: 800;
  color: white;
  border: 4px solid #E19C8C;
  transition: all .5s;
}

.nopeBtn {
  position: absolute;
  bottom: 15vh;
  left: 50%;
  margin-left: -132px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 256px;
  height: 66px;
  border-radius: 36px;
  background-color: white;
  font-size: 24px;
  line-height: 33px;
  font-weight: 800;
  color: #979797;
  border: 4px solid #979797;
  transition: all .5s;
}