.WelcomePage {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: #FAB1A0;
  width: 100vw;
  height: 100vh;
  color: white;
}

.WelcomePage a {
  color: white;
  text-decoration: none;
}

.WelcomePage h1 {
  margin: 0;
  font-size: 40px;
  line-height: 55px;
  font-weight: 800;
}

.WelcomePage h2 {
  margin: 0;
  font-size: 32px;
  font-weight: 50;
}

.WelcomePage h2 span {
  font-style: italic;
  font-weight: 800;
}

.WelcomePage h5 {
  margin: 8px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 100;
}

.darkButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 72px;
  border-radius: 36px;
  background-color: #E19C8C;
  font-size: 24px;
  line-height: 33px;
  font-weight: 800;
  margin: 12px 0;
}

.lightButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 256px;
  height: 64px;
  border-radius: 36px;
  border: 4px solid #E19C8C;
  font-size: 24px;
  line-height: 33px;
  font-weight: 800;
  margin-bottom: 10vh;
}

.headerSection {
  position: relative;
  margin: auto 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.sparklesContainer {
  position: absolute;
  top: -50px;
  left: -20px;
  height: 80px;
  width: 61px;
}

.sparklesContainer img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

.loginSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5vh;
}