@font-face {
  font-family: 'Avenir Next';
  src: local('Avenir Next'), url(./fonts/AvenirNextLTPro-Regular.otf) format('OpenType');
}

body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html
{
  -webkit-tap-highlight-color:transparent;
}
